.azul{
    color:blue;
}
.rojo{
    color:red;
}
.verde{
    color: green
}
.fondoAzul{
    background-color: blue;
}

.fondoRojo{
    background-color: red;
}

.fondoGris{
    background-color: grey;
}
